<div class="text-banner">
    <h1>My Profile</h1>
</div>
<!-- Profile Details form -->
<form action="/profiles" method="GET">
    <label>First Name</label>
    <input type="text" name="fName">
    <br>
    <label>Last Name</label>
    <input type="text" name="lName">
    <br>
    <label>Email</label>
    <input type="email" name="email">
    <br>
    <label>Location (optional)</label>
    <input type="text" name="location">
    <br>
    <input type="checkbox" name="emailConsent" id="emailConsent"><label for="emailConsent">I would like to recieve updates from Tracker.io about future product updates</label>
    <br>
    <button type="submit" disabled="disabled">Save Changes</button>
</form>