<header>
    <nav>
        <a href="/">Tracker.IO</a>
        <ul>
            <li><a href="/vehicles">My Vehicles</a></li>
            <li><a href="/logs">Maintenance Logs</a></li>
            <!-- <li><a href="/History"></a></li> -->
        </ul>
    </nav>
</header>