<header class="nav-container">
    <a href="/"><img src="/images/logos/tracker_io.png"></a>
    <nav>
        <a href="/" class="title nav-item-left">Tracker.IO</a>
    </nav>
    <a href="/profile" class="nav-item-right"></a><span class="profile"></span></a>
</header>