<header class="nav-container">
    <a href="/"><img src="/images/logos/tracker_io.png"></a>
    <nav>
        <a href="/" class="title nav-item-left">Tracker.IO</a>
    </nav>
    <button class="nav-item-right" id="theme">Change Theme</button>
</header>