<div class="sidenav">
    <a href="/vehicles">My Vehicles</a>
    <a href="/logs">Maintenance Logs</a>
    <a href="#">Reminders</a>
    <div class="legal">
        <a href="#">Terms of Service</a>
        <a href="#">Privacy Policy</a>
        <p>Created by Jon Ebert - 2022</p>
    </div>
</div>