<div class="text-banner">
    <h1>Welcome to Tracker.IO!</h1>
</div>
<div>
    <p>Tracker.IO is a tool for home mechanics to organize and store maintenance history of their vehicles. Tools on this site allow users to log all maintenance work all in one place and send reminders it's time to perform recurring service tasks.</p>
</div>
<br>

<!-- <div class="seperator">
    <h2>Not sure where to start? Try these tools first:</h2>
</div> -->

<div class="grid-container">
    <div class="grid-child child-1">
        <h2>Quick Actions</h2>
        <br>
        <a href="/logs/newLog"><div>Add Maintenance Log</div></a>
        <a href="/reminder/newReminder"></a><div>Set New Reminder</div></a>
    </div>

    <div class="grid-child child-2">
        <h2>Upcoming Tasks</h2>
        <br>
        <div>Task 1 (Create service for this)</div>
        <div>Task 2</div>

    </div>
</div>
