<!-- <div class="full-width-banner" style="background: url(/images/homeBanner.jpg)" alt="Image: Miatas at the Gap - 2021"> -->
    <!-- <img src="/images/homeBanner.jpg" alt="Image: Miatas at the Gap - 2021"> -->
    <div class="text-banner">
        <h1>Welcome to Tracker.IO!</h1>
    </div>
<h3></h3>
</div>
