<div class="text-banner">
    <h2>New Maintenance Log</h2>
</div>
<div>
    <form action="/logs" method="POST">
        <div>
            <%- include('_form_fields') %>
        </div>
        <br>
        <a href="/logs">Cancel</a>
        <button type="submit">Create</button>  
    </form>
</div>
<br>
<br>
<a href="/logs">Back to my logs</a>